<!doctype html>
<html ng-app="breadcrumbApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app/breadcrumb.js"></script>
    <style media="screen">
      select {
        border-top-right-radius: 50px;
        border-bottom-right-radius:50px;
        background: #ddd;
        border: 1px solid cyan;
        padding: 1px 5px;
        margin-right: 2px;
      }
    </style>
  </head>
  <body>
    <h2>breadcrumb</h2>
    <div ng-controller="BreadcrumbController as breadcrumb">
      <select
      ng-repeat="atcLevel in breadcrumb.atcLevels"
      ng-model="atcLevel.selected"
      ng-change="breadcrumb.addLevel(atcLevel)">
        <option ng-repeat="element in atcLevel.elements">{{ element }}</option>
      </select>
    </div>
  </body>
